{% extends 'guest/base.html' %}

{% block title %} Terms & Conditions {% endblock %}

{% block content %}

<div class="container">
<div class="terms">
  <h2><b>Terms and Conditions<b></h2>
  {% for term in terms %}
    <div class="subheading">
      <h4> &nbsp {{term.heading}}</h4>
    </div>
    <div class="termspara">
      <p>{{term.para1}}</p>
      {% if term.para2 %}
      <p>{{term.para2}}</p>
      {% endif %}
      {% if term.para3 %}
      <p>{{term.para3}}</p>
      {% endif %}
      {% if term.para4 %}
      <p>{{term.para4}}</p>
      {% endif %}
    </div>
  {% endfor %}
</div>
</div>

{% endblock %}

